<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                &copy; Copyright {{ .Site.Copyright }}
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                <a href="https://www.vertolab.com/skilla/">Skilla</a> by <a href="https://www.vertolab.com/">Verto Lab</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->